/* Default settings ----------------------------- */

* {
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

input[type="submit"], button {
    border: none;
    margin-right: 1em;
}

select:focus, input:focus {
    outline: none;
}

#chessboard-container {
    background-color: silver;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

/* Chessboard user input ------------------------ */

#chessboard-control {
    margin-bottom: 1em;
}

#chessboard-control #chessboard-size {
    display: block;
    margin-bottom: 0.5em;
}

#chessboard-control #chessboard-size label {
    display: inline-block;
    height: 1.6em;
    font-weight: bold;
}

#chessboard-control #chessboard-size input {
    width: 5em;
    height: 1.6em;
}

#chessboard-control #chessboard-color {
    display: block;
    margin-bottom: 0.5em;
}

#chessboard-control #chessboard-color label {
    font-weight: bold;
    display: inline-block;
    height: 1.6em;
}

#chessboard-control #chessboard-color select {
    width: 10em;
    height: 2em;
}

#submit-btn {
    width: 5em;
    height: 2em;
    background-color: #eaeaea;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    color: black;
    font-weight: bold;
}

#submit-btn:hover {
    background-color: #999;
    color: white;
}

#submit-btn:active {
    background-color: #777;
    box-shadow: 0px 0px 3px #aaa;
}

/* Chessboard --------------------------------- */

#chessboard {
    display: inline-block;
}

#chessboard span {
    display: inline-block;
    height: 5em;
    width: 5em;
}

#chessboard span.block-type-1 {
    background-color: black;
}

#chessboard span.block-type-2 {
    background-color: white;
}

#chessboard .row {
    line-height: 0;
}

